body {
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    overflow-x: hidden;
    /*margin-bottom:50px;*/

}
.navbar-custom {
    background: #2C3E50;
    font-weight: 700;
    border: none;
    /*height: 50px;*/
}
.navbar-custom{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}
.navbar-custom .navbar-nav {
    letter-spacing: 1px;
}

.navbar-custom .navbar-brand,.navbar-nav li a {
    color: #fff;
}
.nav>li>a:hover {
    text-decoration: none;
    background-color: #4CAF50; 
}

.img-responsive {
    display: block;
    /*max-width: 30%;
    height: auto;*/
    height: 170px;
    max-width: 60%;
    border-radius: 246px;
    margin: auto;
    /*position: absolute;*/
    top: 100px; 
    left: 0; 
    bottom: 0; 
    right: 0;
    margin-top: 2%;
    margin-bottom: 2%;
}

.imgcontainer {
    text-align: center;
    margin: 0 0 -16px 0;
    padding-top: 20px;
}
.imgcontainer img{
    height: 80px;
    border-radius: 40px;
}
.login-green {
    color: #fff!important;
    background-color: #4CAF50!important;
    /*box-shadow: none;*/
}
.login-green:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}

.popup-container{
    max-width: 40%;
    background: #fff;
    /*position: absolute;*/
    cursor:auto;
    margin: auto;
    top: 2%;
    left: 0;
    right: 0;
    border-radius: 4px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
    
}
.popup {
    z-index: 3;
    /*position: absolute;*/
    position : fixed;
    width:100%;
    height: 100%;
    cursor:auto;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4); 
}
.patient-details{
    margin: 0 40px 0 40px;
	padding-bottom: 20px;
}

.img-responsive_1 {
    display: block;
    max-width: 100%;
    height: auto;
}

footer {
    color: #fff;
}
footer .footer-above {
    padding-top: 50px;
    background-color: #2C3E50;
}
footer .footer-col {
    margin-bottom: 50px;
    color : #fff;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}
.ui-datepicker {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
}
.ui-widget-header {
    color: #222222;
    font-weight: bold;
    backgrount:#fff;
}
 
.addInfo-div{ 
 	padding-top: 45px; 
    padding-bottom: 40px; 
}
.greenBtn{
	color: #FFFFFF;
    background-color: #4CAF50;
}
.greenBtn:hover{
	color: #FFFFFF;
    background-color: #4CAF50;
    -webkit-box-shadow: 13px 10px 18px -6px rgba(0,0,0,0.62);
	-moz-box-shadow: 13px 10px 18px -6px rgba(0,0,0,0.62);
	box-shadow: 13px 10px 18px -6px rgba(0,0,0,0.62);
}

.info{
	
    float: right;
    position: absolute;
    z-index: 9;
    padding-top: 3px;
    right: 420px;
    top: 666px;
}
#selectData {
    background: #fff !important;
}
.below-img {
    float: right;
    margin-top: -100px;
    /*margin-right: 35px;*/
    margin-bottom: 30px;
}

.addShadow{
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
}
.adjustPos{
	padding-top: 2%;
}
.adjustPos>a{
	padding:4%;
}
.marginTop{
	margin-top:28px;
}

.custom-css{
	margin: 30px 60px 60px 60px;
	border-radius:2px;
}
#footer{
    position:fixed;
    /*height:50px;*/
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}
.toUpperCase{
	text-transform: uppercase;
}
.toCapitalize{
	text-transform: capitalize;
}
.showAllTable{
	max-height: 50%;
    overflow-y: scroll;
}
