<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html" />
<meta name="author" content="" />

<title>Project : Testing</title>
<!-- Tabicon 
<link rel="shortcut icon" href="Images/favicon.ico" type="image/x-icon" />-->

<!-- Required links and scripts -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<!-- Custom CSS & JS -->
<link rel="stylesheet" href="CSS/index.css" />
<script type="text/javascript" src="JS/index.js"></script>
<script type="text/javascript" src="JS/add_logic.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#datepicker').datepicker({
			dateFormat : 'dd/mm/yy',
			yearRange : '1950:2016',
			changeMonth : true,
			changeYear : true
		/*showButtonPanel: true*/
		});

	});
</script>
</head>
</head>

<body>
	<!-- Navber -->
	<nav id="main-nav" class="navbar-custom">
		<div class="container">
			<div class="navbar-header page-scroll">
				<a class="navbar-brand"> <img src="Images/sign.png" alt="Avatar"
					style="height: 43px; float: left; width: 53px; margin-top: -10px;"
					class="avatar"> &nbsp;&nbsp;LOGO
				</a>

			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li id="add-btn" class=""><a href="#"> <img
							class="img-responsive" style="height: 20px; float: left;"
							src="Images/add-button.png" /> &nbsp;&nbsp;Add
					</a></li>
					<li id="display-btn" class=""><a href="showAll.php"> Show All</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Main page header Section-->
	<section id="1">
		<div style="background: #18BC9C; text-align: center;">
			<div class="container">
				<div class="row">
					<div class="col-lg-2">
						<!-- <img class="img-responsive addShadow marginTop" src="Images/avatar1.png" />
		                <img class="img-responsive addShadow below-img" src="Images/avatar2.png" />-->
						<div class="intro-text"></div>
					</div>

					<div class="col-lg-6" style="color: #fff;">
						<h2>Screen 1</h2>
						<hr />
						<p>A patient entry screen with fields like firstname,
							lastname, age, dob, gender (dropdown), phone, free text
							information.</p>
						<div>
							<p>Click on the <strong>Add</strong> button or <strong>+</strong> 
							icon to add the patient details.
						</div>
					</div>

					<div class="col-lg-4">
						<img class="img-responsive addShadow marginTop below-img"
							style="border-radius: 2px; height: 235px; width: 210px;"
							src="Images/addDetails.png" />
					</div>
				</div>
				<div class="row"></div>
			</div>
		</div>
	</section>

	<section id="2">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 text-center">
					<img class="img-responsive addShadow marginTop below-img"
						style="margin-right: 90px; border-radius: 2px; height: 195px; width: 510px;"
						src="Images/screen2.png" />
				</div>
				<div class="col-lg-6 text-center">
					<h2>Screen 2</h2>
					<hr class="star-primary">
					<div>
						<p>A patient directory which shows a list of patients, with
							local search functionality based on patient name.</p>
					</div>
					<p> Click on <strong>SHOW ALL</strong> to see the patient details!!
				</div>

			</div>
		</div>
	</section>

	<section id="3" style="display: none; background: #18BC9C;">
		
		<div class="addInfo-div" data-ng-controller="addController"
			id="addInfo-div">
			<div class="popup-container addform">
				<form id="addInfoForm" class="" method="post">
					<div class="form-group">
						<div class="imgcontainer">
							<img src="Images/patient.png" alt="Avatar" class="avatar">
						</div>

						<div class="patient-details">
							<div class="form-group">
								<label for="firstname">First name</label> <input type="text"
									id="firstname" class="form-control" placeholder="First name"
									name="uname" data-ng-model="firstname" required>
							</div>

							<div class="form-group">
								<label for="lastname">Last name</label> <input type="text"
									id="lastname" class="form-control" placeholder="Last name"
									name="uname" data-ng-model="lastname" required>
							</div>

							<div class="form-group">
								<label for="gender">Gender</label> <select class="form-control"
									id="gender" required>
									<option selected="selected" disabled="disabled">Select</option>
									<option>Female</option>
									<option>Male</option>
								</select>
							</div>

							<div class="form-group">
								<label for="age">Age</label> <input type="text" id="age"
									class="form-control" placeholder="Age (in digit only)" name="age"
									data-ng-model="age" required>
							</div>

							<div class="form-group">
								<label for="dob">Date of Birth</label> <input type="text"
									placeholder="dd/mm/yyyy" id="datepicker" class="form-control"
									required>
							</div>

							<div class="form-group">
								<label for="phone">Mobile number</label> <input type="text"
									id="mob" class="form-control" placeholder=""
									data-ng-model="mob" required>
								<div class="info" style="display: none;">
									<div class="alert alert-info">
										<strong>Info!</strong> Please enter 10 digit valid mobile
										number!!
									</div>
								</div>
							</div>


							<div class="form-group">
								<label for="Description">Additional info (Optional)</label>
								<textarea rows="5" id="desc" class="form-control"
									data-ng-model="desc" required></textarea>
							</div>
							<div class="text-center">
								<button id="add" type="submit" class="btn greenBtn addBtn"
									data-ng-click="insertData()">Add Details</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>

	<!-- Footer section -->
	<footer class="text-center">
		<div class="footer-above">
			<div class="container">
				<div class="">
					<div class="col-md-4">
						<i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
						<p>
							Bangalore <br>Karnataka, 560037
						</p>
					</div>
					<div class="col-md-4">
						
					</div>
					<div class="col-md-4">
						<i class="fa fa-github fa-5x" aria-hidden="true"></i>
					</div>

				</div>
			</div>
		</div>
		<div class="footer-below">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						Copyright <i class="fa fa-copyright" aria-hidden="true"></i> <span
							class="year"></span>
					</div>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>